# Flutter & Dart
.dart_tool/
.build/
.pub-cache/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
pubspec.zip
verification.json

# Android
*.apk
*.aab
*.dex
*.class
bin/
gen/
local.properties
.gradle/
app/build/

# IDE / OS
.idea/
*.iml
.vscode/
.DS_Store
Thumbs.db
